{%extends "base.html"%}

{%block title%}{{pet.name|capfirst}}{%endblock%}

{%block content%}

<h1>Name: {{pet.name|title}}</h1>
<h2>Age: {{pet.age}}</h2>
<h2>Sex: {{pet.sex|capfirst}}</h2>
<h2>Submitter: {{pet.submitter|title}} - Submitted: {{pet.submissionDate}}</h2>
<h2>Species: {{pet.species|capfirst}}</h2>
<h2>Breed: {{pet.breed|title}}</h2>
<h2>Description: {{pet.description|capfirst}}</h2>
<h2>Vaccinations:</h2>
{% if pet.vaccinations.all %}
    {% for v in pet.vaccinations.all %}
        <li>{{v.name|capfirst}}</li>
    {% endfor %}
{% else %}
<li>NONE</li>
{% endif %}

{%endblock%}